/Users/uchidaatsuya/analysis-tool/nucleosynthesis/farmer2023
/Users/uchidaatsuya/analysis-tool/nucleosynthesis/limongi2018
/Users/uchidaatsuya/analysis-tool/nucleosynthesis/sukhbold2016
/Users/uchidaatsuya/analysis-tool/nucleosynthesis/wanajo2009_ECSN